<form method="POST">
  <label for="code">Secret code:</label>
  <input type="text" name="code" palceholder='Code' value="" required />
  <button type="submit">Submit</button>
</form>
<p>
  <%- include('partials/errors') -%>
</p>
