<form method="POST"">
  <div>
    <label for="title">Title: </label>
    <input type="text" name="title" placeholder="Name me." required />
  </div>
  <div>
    <label for="body">Message: </label>
    <input type="text" name="body" placeholder="Write your message here." required />
  </div>
  <div>
    <button type="submit">Post</button>
  </div>
</form>
<p>
  <%- include('partials/errors') -%>
</p>
